@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .container.mini-container {
    max-width: 1158px;
  }
  /* -----------HEADER-----------------*/
  .header-list {
    margin-left: 76px;
  }
  .header-list-wrap {
    flex-direction: row;
    gap: 40px;
  }
  .header-address {
    font-size: var(--typical-fs);
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
  }
  .header-link,
  .header-tel {
    display: block;
    min-width: 151px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /*------------HERO-------------------*/
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 40px;
  }
  /*-----------FEATURES----------------*/
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .astronaut-wrap {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    background-color: var(--typical-color);
  }
  .features-subtitle {
    font-weight: var(--typical-fw);
    font-size: 20px;
    line-height: 1.2;
  }
  /*------------ABOUT------------------*/
  .about {
    display: block;
    padding-bottom: 120px;
  }
  .about-title {
    color: var(--title-color);
    margin-bottom: 72px;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  .about-item {
    width: calc((100% - 48px) / 3);
  }
  /*------------TEAM-------------------*/
  .team {
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  /*-------------CUSTOMERS--------------*/
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  /*------------FOOTER-----------------*/
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-container:nth-child(odd) {
    justify-content: space-between;
  }
  .footer-center-container {
    margin-left: 120px;
    margin-right: 80px;
  }
  /*-------------MENU-------------------*/
  .gallery {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .menu-list {
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
  }
  .menu-btn {
    padding: 12px 24px;
  }
  .gallery-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
  /*------------- MODAL -----------------*/
  .modal {
  top: 80px;
}
}
