@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
    .container.mini-container {
        max-width: 582px;
    }

/* ----------------HEADER-----------------*/
/*-----------------HERO-------------------*/
    .hero {
        padding-top: 110px;
        padding-bottom: 110px;
        background-image: var(--gradient), url(../images/hero-bg.jpg);
    }
    .hero-title {
        max-width: 500px;
        margin-bottom: 40px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.08;
    }
/*----------------FEATURES----------------*/
    .features-list {
        column-gap: 24px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
/*-----------------ABOUT------------------*/
/*-----------------TEAM-------------------*/
    .team {
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
    .team-item {
        width: calc((100% - 24px) / 2);
    }
/*--------------CUSTOMERS--------------*/
    .customers-list {
        column-gap: 24px;
    }
    .customers-item {
        width: calc((100% - 48px) / 3);
    }
/*-----------------FOOTER-----------------*/
    .footer-container {
        align-items: baseline;
        justify-content: start;
        gap: 24px;
        flex-direction: row;
    }
    .footer-input {
        width: 264px;
        margin-right: 24px;
    }
/*-----------------MENU-------------------*/
    .menu-list {
        justify-content: center;
        margin-bottom: 64px;
        gap: 24px;
    }
    .menu-btn {
        padding: 12px 24px;
    }
    .gallery-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .gallery-item {
        width: calc((100% - 24px) / 2);
    }
/*---------------- MODAL -----------------*/
/*---------------- FORM ------------------*/
}
